@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin background-clip-effect {
	background-image: linear-gradient(
		to right,
		$color-primary,
		$color-primary-dark
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

// Media query manager
/*
0 - 600px - Phone 
600 - 900px - Tablet Portrait
900 - 1200px - Tablet Landascape
1200 - 1800 - Normal styles have been aplied
1800+ - Big Desktops
*/
/*
$breakpoint argument choices:
- phone 
- tab-port
- tab-land
- big-desktop
*/

// 1em = 16px
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			// 600px
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			// 900px
			@content;
		}
	}
	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			//1200px
			@content;
		}
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			// 1800px
			@content;
		}
	}
}
