// Partial Low level file

/* Simple Reset */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* 0.625 * 16px = 10px */
	/* Using % good for user that need to change the font size*/
	font-size: 62.5%;
	/* Even the padding and margin using rem, so by changing the font-size 
    we can change the whole design!!!!*/
	@include respond(big-desktop) {
		font-size: 75%; // 1rem = 12px,
	}
	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
	}
	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px . 8/16 = 50%
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;
}
